*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
   color: black;
    background:url('./images/banner/banner1.png') , lightgray -0.889px 0px / 100.111% 111.51% ;
    background-repeat: no-repeat;
    
    
}
.header-container{
    margin-bottom: 50px;
}
.header-title {
    text-align: right;
    margin-right: 30px;
    padding-top: 220px;
  
}
.header-title h1{
    color: #151414;
    font-size: 65px;
font-weight: 700;

}
.header-title p{
    color: #444343;
    font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.header-title button{
    border-radius: 5px;
background: #F15B22;
border: none;
padding: 10px 15px;
color: white;
margin-top: 10px;
margin-bottom: 187px;
}
.failures{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.failure-container{
    margin-right: 25px;
    margin-top: 30px;
   
}
.failure-container h1{
    font-size: 40px;
margin-bottom: 24px;
font-weight: 700;
}
.failure-container p{
    margin-bottom: 20px;
}
.failure-container ul li{
    list-style: none;
    
}
li:not(:last-child){
    margin-bottom: 15px;
}
li::before{
    content: " \02713";
    color: #16D887;
   margin-right: 10px;
}
.plan-cards{
    display: flex;
    justify-content: space-around;
    padding: 0px 15px;
}
.plans{
    margin-top: 30px;
    margin-bottom: 100px;
}
.plans h1{
    text-align: center;
    margin-bottom: 40px;
}
.mindset{
   background-image: url('./images/watch.png');
   background-repeat: no-repeat;
   /* border-radius: 8px; */
   /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%); */
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    color: white;
}
.mindset h1{
    font-size: 40px;
padding: 10px;
font-weight: 700;
margin-left: 64px;
}
.mindset button{
    color: #F15B22;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-left: 73px;
    margin-bottom: 20px;
}
footer{
    background: #151414;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.footer-title {
    margin-top: 100px;
}
.footer-title h1{
    font-size: 45px;

font-weight: 700;
margin-bottom: 16px;

}
.email{
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-title p{
    font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.icon{
    margin-top: 32px;
    margin-bottom: 15px;

}
.icon img{
    margin-left: 10px;
}

    .subscribe {
        margin-bottom: 50px;
    }

.subscribe h1{
    font-size: 25px;

font-weight: 600;
margin-bottom: 25px;

}
.email{
    padding: 25px 140px 15px 15px;
}
.subscribe button{
    color: #F15B22;
    padding: 15px 30px;
}